/* You can add global styles to this file, and also import other style files */
@import '@ag-grid-community/core/dist/styles/ag-grid.scss';
@import '@ag-grid-community/core/dist/styles/ag-theme-alpine.css';

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
